<footer class="footer-wrapper">
    <div class="container">
        <div class="footer">
            <a class="footer__logo" href="https://simplified.courses">
                <img src="/assets/simplified-logo.png" alt="">
            </a>
            <ul class="footer__menu">
                <li><a href="https://blog.simplified.courses">Privacy Policy</a></li>
                <li><a href="https://simplified.courses/about">About</a></li>
                <li><a href="https://www.simplified.courses/free-angular-change-detection-simplified-e-book">Change
                    Detection e-book</a></li>
                <li><a href="https://simplified.courses/contact">Contact</a></li>
                <li><span>© 2022 simplified.courses</span></li>
            </ul>
        </div>
    </div>

</footer>
