---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.author-thumb{
  border-radius: 50%;
  width:40px;
  height:40px;
  border: 4px solid #0CC;
}
.site-header {
  border: none;
  border-bottom: 10px solid #0CC;
  background: #fff;
}
a, a:visited {
  color: #0CC;
}
body {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  letter-spacing: normal;
  color: #1c2838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  display: flex;
  align-items:center;
  flex-direction: column;
  @media screen and (min-width: 800px){
    flex-direction: row
  }
  justify-content: space-between;
  &__logo {
    width: 50px;
    margin-bottom: 20px;
    @media screen and (min-width: 800px){
      margin-bottom: 0px;
    }
  }
  &__menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items:center;
    @media screen and (min-width: 800px){
      flex-direction: row;
    }
    a {
      margin: 0 10px;
      color: #45505d;
      font-weight: 400;
      font-size: 18px;
      line-height: 28.8px;
      text-decoration: none;
      font-family: Roboto;
    }
  }
}
.wrapper {
  max-width: calc(1260px + 40px + 40px);
  @media screen and (min-width: 800px){
    padding-right: 40px;
    padding-left: 40px;
  }
  .post-image {
    border-radius: 1.5rem;
  }
}
.article-wrapper {
  max-width: 940px;
}
.footer {
  &-wrapper {
    background: #161e2a;
  }
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 800px){
    justify-content: space-between;
  }
  &__logo img{
    width: 50px;
    display: none;
    @media screen and (min-width: 800px){
      display: flex;
    }
  }
  &__menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items:center;
    flex-direction: column;
    @media screen and (min-width: 800px){
      flex-direction: row;
    }
    li {
      color: #fff;
      span {
        margin: 0 10px;
      }
    }
    a {
      margin: 0 10px;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      line-height: 28.8px;
      text-decoration: none;
      font-family: Roboto;

    }
  }
}
.container {
  max-width: 1260px;
  padding: 0 40px;
  margin: 0 auto;
}
a.post-link {
  text-decoration: none;
  font-size: 36px;
  font-family: Roboto;
  color: #000;
  padding-top: 20px;
  &:hover {
    text-decoration: none;
  }
}
.post-title {
  line-height:3rem;
}
h1{
  padding-top: 20px;
  word-break: break-word;
  text-align:center;
  line-height: 4rem;
  font-size: 3rem;
}
h1,h2,h3,h4 {
  word-break: break-word;
  font-family: poppins;
  font-weight: 700;
}
code {
  word-break: break-word;
}
.post-meta {
  padding-top: 10px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  @media screen and (min-width: 800px){
    flex-direction:row;
  }
}
.post-categories {
    display: flex;
    margin: 0px;
    margin-top: 16px;
    list-style-type: none;
    flex-wrap: wrap;
    li a, li span{
      display: flex;
      align-items: center;;
      justify-content: center;
      background: #0CC;
      color: #fff;
      border-radius: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 0px 8px;
  }
}
.post-list {
  display: flex;
  flex-wrap: wrap;
  &__post {
    overflow-y: scroll;
    max-height: 800px;
    &-subscribe {
      background: #fff;
    }
    max-width: 425px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.10);
    border-radius: 1.5rem;
    margin: 10px;
    &-categories {
      display: flex;
      margin: 0px;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;;
        justify-content: center;
        list-style-type: none;
        background: #0CC;
        color: #fff;
        border-radius: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 0px 8px;
      }
    }
    &-content {
      padding: 32px;
      .kajabi-form--inline {
        padding: 0;
      }
      #kajabi-form .kajabi-form__content{
        padding: 0;
        max-width: none;
      }
      .kajabi-form__content button {
        color:#fff!important;
        width: 100%;
        font-family: poppins!important;
        font-size: 1rem!important;
      }
      .kajabi-form__form-item {
        display: flex;
      }
      p {
        word-break: break-word;
      }
    }
    a {
      text-decoration: none;
      color: #1c2838;
    }
    img {
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
    }
    h3 {
      font-size: 1.5rem;
      word-break: break-word;
    }
   
  }
}
.post-subscribe {
  box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.10);
  border-radius: 1.5rem;
  padding: 32px;
      background: #fff;
      .kajabi-form--inline {
        padding: 0;
      }
      #kajabi-form .kajabi-form__content{
        padding: 0;
        max-width: none;
      }
      .kajabi-form__content button {
        color:#fff!important;
        width: 100%;
        font-family: poppins!important;
        font-size: 1rem!important;
      }
      .kajabi-form__form-item {
        display: flex;
      }
}

.workshop-link {
  cursor:pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  img {
    border-radius: 1.5rem;
  }
}

.post-nav__wrapper{
  display: flex;
  justify-content:space-between;
  padding-bottom: 32px;
}
