---
layout: default
---
<div class="wrapper">

    <div class="home">
        <h1>Blog articles written with love, just for <strong>you!</strong></h1>
       
        {{ content }}

        {%- if site.posts.size > 0 -%}
        <ul class="post-list">
            <li class="post-list__post post-list__post-subscribe">
                <div class="post-list__post-content">
                    <h3>Join the club and get notified with new content</h3>
                    <p>Get notified about our future blog articles by subscribing with the button below.</p>
                    <p>We won't send spam, unsubscribe whenever you want.</p>
                    <script src=https://www.simplified.courses/forms/2147985035/embed.js></script>
                </div>
            </li>
            {%- for post in site.posts -%}
            <li class="post-list__post">
                <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
                    <img src="/{{post.cover}}" alt="{{ post.title }}">
                    <footer class="post-meta">

                        <img class="author-thumb" src="/assets/brecht.png" alt="Brecht Billiet" nopin="nopin"/>
                        <!-- author -->
                        &nbsp;Brecht Billiet&nbsp;|&nbsp;


                        <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string
                            }}
                        </time>
                    </footer>
                    <div class="post-list__post-content">
                        <h3>{{post.title}}</h3>
                         <ul class="post-list__post-categories">
                        {% for tag in post.categories %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                        <p>{{post.description}}</p>
                       

                        {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                        {%- endif -%}
                    </div>
                   
                </a>
            </li>
            {%- endfor -%}
            <li class="post-list__post">
                <a class="twitter-timeline" href="https://twitter.com/Brechtbilliet?ref_src=twsrc%5Etfw">Tweets by Brechtbilliet</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
        </ul>
        <!-- <h3>Categories</h3>
        <ul class="post-categories">
            {% for category in site.categories %}
                <li><a href="{{site.baseurl}}/categories/{{ category[0] | cgi_escape }}">{{category[0]}}</a></li>
            {% endfor %}
        </ul> -->
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        {%- endif -%}
        <a href="#" id="open_preferences_center">Update cookies preferences</a>

    </div>
</div>
