---
layout: default
---
<div class="wrapper">

    <div class="home">
        <h1>Simplified Blog</h1>
        {{ content }}

        {%- if site.posts.size > 0 -%}
        <ul class="post-list">
            {%- for post in site.posts -%}
            <li class="post-list__post">
                <a href="{{ post.url | relative_url }}">
                    <img src="/{{post.cover}}" alt="{{ post.title | escape }}">
                </a>
                <footer class="post-meta">

                    <img class="author-thumb" src="/assets/brecht.png" alt="Brecht Billiet" nopin="nopin"/>
                    <!-- author -->
                    Brecht Billiet |


                    <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string
                        }}
                    </time>
                </footer>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
               
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        {%- endif -%}

    </div>
</div>
