---
layout: default
---
<div class="wrapper article-wrapper">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="post-meta">
                <img class="author-thumb" src="/assets/brecht.png" alt="Author image" nopin="nopin"/>
                &nbsp;Written by Brecht Billiet&nbsp;
                <a href="https://twitter.com/brechtbilliet" target="_blank">@brechtbilliet</a>&nbsp;on&nbsp;
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ page.date | date: date_format }}
                </time>
                {%- if page.author -%}
                • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                                                                                              itemprop="name">Brecht Billiet</span></span>
                {%- endif -%}
            </p>
        <img class="post-image" src="/{{page.cover}}" alt="{{ page.title | escape }}">
        <ul class="post-categories">
            {% for category in page.categories %}
            <li>
                <a href="{{site.baseurl}}/categories/{{ category | cgi_escape }}">{{category}}</a>
            </li>
            {% endfor %}
        </ul>
            </header>
      
        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>
        <div class="post-subscribe">
            <h3>Join the club and get notified with new content</h3>
            <p>Get notified about our future blog articles by subscribing with the button below.</p>
            <p>We won't send spam, unsubscribe whenever you want.</p>
            <script src=https://www.simplified.courses/forms/2147985035/embed.js></script>    
        </div>
        <a class="workshop-link" href="https://www.simplified.courses/remote-angular-proven-enterprise-solutions" target="_blank">
            <img  src="/assets/angular-proven-enterprise-solutions.jpg" alt="Angular Proven Enterprise Solutions">
        </a>
        {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
        {%- endif -%}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
<a href="#" id="open_preferences_center">Update cookies preferences</a>
</article>
</div>
